.DisplayForecast ul {
  list-style-type: none;
}

.DisplayForecast li {
  list-style-type: none;
  display: grid;
  grid-template-columns: 4fr 2fr 1fr 1fr;
  margin: 8px 0;
}

.DisplayForecast li span {
  align-self: center;
}

.DisplayForecast .forecast-max {
  font-size: 18px;
}

.DisplayForecast .forecast-min {
  font-size: 16px;
  opacity: 0.7;
}
