:root {
  --morning: #d3e9f5;
  --morning-div: #f6fbff;
  --morning-div-stroke: #f7f9fa;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  background: url(../img/taylor-van-riper-yQorCngxzwI-unsplash.jpg);
  background-repeat: no-repeat;
  background-size: fill;
  background-position: center;
  height: 100%;
}
