.Weather div {
  background-color: var(--morning-div);
  border: 1px solid var(--morning-div-stroke);
  margin: 5px 0;
  border-radius: 5px;
  padding: 12px 20px;
}

.Weather form {
  display: grid;
  grid-template-columns: 6fr 2fr;
  gap: 8px;
}

.Weather input {
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  border: 1px solid var(--morning);
}

.Weather input[type="submit"] {
  background-color: var(--morning-div);
  box-shadow: 1px 1px 2px var(--morning);
  color: black;
}

.Weather input[type="submit"]:hover {
  cursor: pointer;
  box-shadow: none;
}
