.Weather div {
  background-color: var(--morning-div);
  margin: 5px 0;
  border-radius: 8px;
  padding: 12px 20px;
  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(5.5px);
  -webkit-backdrop-filter: blur(5.5px);
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
}

.Weather form {
  display: grid;
  grid-template-columns: 6fr 2fr;
  gap: 8px;
}

.Weather input {
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.2);
}

.Weather input[type="submit"] {
  background-color: var(--morning-div);
  color: black;
}

.Weather input[type="submit"]:hover {
  cursor: pointer;
  box-shadow: none;
}
